.container{
	display: flex;
	margin: auto;
}

.row{
	display: flex;
	width:100%;
}

@media screen and (max-width:600px){
	.container{ 
		width: 90%; 
	}
	.small-col1{ width: 8.33%;}
	.small-col2{ width: 16.66%;}
	.small-col3{ width: 25%;}
	.small-col4{ width: 33.33%;}
	.small-col5{ width: 41.66%;}
	.small-col6{ width: 50%;}
	.small-col7{ width: 58.33%;}
	.small-col8{ width: 66.66%;}
	.small-col9{ width: 75%;}
	.small-col10{ width: 83.33%;}
	.small-col11{ width: 91.66%;}
	.small-col12{ width: 100%;}
}

@media screen and (min-width:601px){
	.container{ width: 85%; }
	.medium-col1{ width: 8.33%;}
	.medium-col2{ width: 16.66%;}
	.medium-col3{ width: 25%;}
	.medium-col4{ width: 33.33%;}
	.medium-col5{ width: 41.66%;}
	.medium-col6{ width: 50%;}
	.medium-col7{ width: 58.33%;}
	.medium-col8{ width: 66.66%;}
	.medium-col9{ width: 75%;}
	.medium-col10{ width: 83.33%;}
	.medium-col11{ width: 91.66%;}
	.medium-col12{ width: 100%;}
}

@media screen and (min-width:993px){
	.container{ width: 70%; }
	.large-col1{ width: 8.33%;}
	.large-col2{ width: 16.66%;}
	.large-col3{ width: 25%;}
	.large-col4{ width: 33.33%;}
	.large-col5{ width: 41.66%;}
	.large-col6{ width: 50%;}
	.large-col7{ width: 58.33%;}
	.large-col8{ width: 66.66%;}
	.large-col9{ width: 75%;}
	.large-col10{ width: 83.33%;}
	.large-col11{ width: 91.66%;}
	.large-col12{ width: 100%;}
}

.article{
	box-sizing: border-box;
	border: 1px solid black;
}
